<div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href="/users/login">Login</a>
    <a href="/users/register">Register</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction2()">
      <i class="fas fa-bars"></i>
    </a>
</div>

<script>

  function myFunction2() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>