<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('partials/header'); %>
</header>

<div>
    <%- include('partials/navbar'); %>
</div>
<main>
    
    <div class="row" style="background-color:rgb(208, 126, 240);color:white;padding:100px;">
        <a href="/estimate" class="button1">Get a Quote</a>
    </div>
</main>

<footer>
    <%- include('partials/footer'); %>
</footer>

</body>
</html>