<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('partials/header'); %>
</header>

<div>
    <%- include('partials/navbar'); %>
</div>
<main>
    
    <div class="row">
        <div class="column side" style="background-color:#aaa;">Column</div>
        <div class="column middle" style="background-color:#bbb;">Column</div>
        <div class="column side" style="background-color:#ccc;">Column</div>
    </div>
</main>

<footer>
    <%- include('partials/footer'); %>
</footer>

</body>
</html>