<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Register</title>
  </head>
  <body>
	<form action="/users/signup" method="POST">
  	  <!-- user input-->
  	  First:<br>
  	  <input type="text" name="firstname" placeholder="Username" required><br><br>
  	  Last:<br>
  	  <input type="text" name="lastname" placeholder="Password" required><br><br>
  	  <!-- submit button -->
  	  Username:<br>
  	  <input type="text" name="username" placeholder="Username" required><br><br>
  	  Password:<br>
  	  <input type="password" name="password" placeholder="Password" required><br><br>
  	  <!-- submit button -->
  	  <input type="submit" value="register">
	</form>
  </body>
</html>